<div style="background-color: #e6ebf1; height: 100%;">
  <div class="toolbar" role="banner" style="padding-left: 20px;">
    <span>POWEFULL TABLE</span>
  </div>

  <div style="margin: 50px;">
    <ngx-table-powerfull [name]="nameTable" [columns]="columns" [data]="rows" [config]="config" (event)="captureEvent($event)" [beforeAction]="myFunction" [actionsTocontrol]="['updateRow']"></ngx-table-powerfull>
  </div>

  <div class="card" style='margin: 35px; padding: 20px;'>
    <p><strong>Unique selection:</strong> Ctrl + Click</p>
    <p><strong>Selection range:</strong> Alt + Click</p>
    <p><strong>Clear selection:</strong> Shift + Click</p>
    <p><strong>Select all:</strong> Ctrl + Alt + Click</p>
  </div>

</div>






